@import url('https://fonts.googleapis.com/css?family=DM+Sans|Lalezar|Prompt:400,600,700,800&display=swap');

body,html{
width: 100%;
font-size:14px;
font-family: 'DM Sans', sans-serif;
}
/*font-family: 'DM Sans', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Lalezar', cursive;*/

section{
  width: 100%;

}
#Cover{
background:red;
}
#Specs{
  background:blue;
}
#Performance{
  background-image: url(../images/seccion02/fondo2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
#Interior{
  background:blue;
}


#Contact>div>div>div>h3{

  font-family: 'Lalezar', cursive;
  font-weight: 800;
}
#Contact>div>div>h3{
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}
#Contact>div>div>div>hr{
  width:300px !important;
  max-width: 90% !important;
  border-top: dotted 2px;
}
.bg-gris{
  background:rgb(228, 228, 228);
}

.bg-blanco{
  background: #fff;
}
#formcontacto{
  position: relative;
  margin:0 auto;
  width: 400px !important;
  max-width: 950%;
}
#formcontacto>button[type=submit]{
  width: 100% !important;
  padding: 10px;
  border-radius:25px;
  background:#003664 !important;
  color:#fff !important;
}

input[type=text],input[type=number],input[type=email]{
  border:nome;
  padding-right:30px ;
  padding: 10px;
  border-radius:10px;
  border: 0;
  width: 100%;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.invalid {
  border: 1px solid rgb(233, 71, 71) !important;
  }
.valid {
  background: url(../images/check.png),#fff;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 98% 7px;
  border:1px solid #ccc !important;

}
/* 003664


/* Slide */
section#slide {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

#slide .cotainer img {
  width: 39%;
  height: 40px;
  object-fit: contain;
}
#slide .cotainer {
  position: absolute;
  z-index: 9;
  top: 3%;
  left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
#slide .texto
{
  position: absolute;
  max-width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  width: 80%;
}

#slide .fondo1
{
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.botones
{
  position: absolute;
    bottom: 7%;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
}
.botones p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 9px;
  margin: 0px;
  padding: 0px 10px;
  height: auto;
  width: 20%;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.con1
{
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.con{
border-left: 1px solid white;
}
.botones p span {
  font-size: 20px;
  font-weight: 900;
  height: 30px;

}
.botones a{
  height: 40px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 4px 10px;
  width: 35%;
  border-radius: 42px;
  transition: 1s;
}
.botones img{
  height: 22px;
  margin: 5px;
  max-width: 80%;
}


.botonesN
{
  position: absolute;
    bottom: 7%;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
}
.botonesN p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 9px;
  margin: 0px;
  padding: 0px 10px;
  height: auto;
  width: 20%;
  height: 60px;
  text-align: center;
  cursor: pointer;
}


.botonesN p span {
  font-size: 20px;
  font-weight: 900;
  height: 30px;

}
.botonesN a{
  height: 40px;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 4px 10px;
  width: 35%;
  border-radius: 42px;
  transition: 1s;
}
.botonesN img{
  height: 22px;
  margin: 5px;
  max-width: 80%;
}



.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

#animated-example {
    width: auto;
    height: auto;
    border-radius: 50%;
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* performance */
#Performance .texto{
  width: 25%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
#Performance  .texto > h1 {
  font-size: 16px;
  font-weight: bold;
}
#Performance .texto > p {
  font-size: 12px;
}

#Performance .texto > div .datos
{
  border: 2px solid white;
  padding: 19px 12px;
  border-radius: 100px;
  margin-right: 10px;
  font-weight: 900;
  font-size: 16px;
  width: 22%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000c4;
}
#Performance .texto a
{
  text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
}
#Performance .frontal
{
  max-width: 120px;
  position: absolute;
  bottom: 5%;
  left: 40%;
}
#Performance .trasera
{
  position: absolute;
    right: 17%;
    max-width: 120px;
    top: 13%;
}
section#Performance .texto > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* estacionamiento */
section#estacionamiento > div > img {
  width: 100%;
  height: 100%;
}
section#estacionamiento > div > img {
  width: 100%;
  height: 100%;
}
#estacionamiento
{
  height: 100vh;
}
#estacionamiento ul 
{
  padding: 0px;
}
#estacionamiento ul li{
  list-style: none;
  margin: 10px;
}
#estacionamiento .texto p{
  font-size: 14px;
}
#estacionamiento .texto h1{
  font-size: 18px;
  font-weight: 900;
}

#estacionamiento ul li img {
  max-width: 40px;
  margin-right: 5px;
}
#estacionamiento  a
{
  text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    width:300px;
    max-width: 80%;
    text-align: center;
    padding: 5px;
    font-weight: 900;
}
/* Tecnologia */
#Tecnology
{
 height: 100vh;
 width: 100%; 
}
#Tecnology img
{
width: 100%;
}